<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout Creator</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}?v={{ time() }}" rel="stylesheet">
</head>
<body>
    <h1>Welcome to the Workout Creator</h1>
    <form action="/create_workout" method="post">
        <input type="text" name="workout_name" placeholder="Enter workout name" required>
        <button type="submit">Download Workout</button>
    </form>
</body>
</html>